<div id="block">
  <div id="intro">
    <div class="container row">
      <div class="col-md-2 col-md-offset-3 text-right">
        <%= image_tag 'me.png', class: 'img-circle animated fadeInLeftBig', width: '180px' %>
      </div>

      <div class="col-md-7 animated fadeInRightBig" id="first-look">
        <h1><span class="cursive">Meet </span><span class="highlight">Rishi Dhanaraj</span></h1>
        <h1 id="tagline">Student Developer & Imagineer</h1>

        <%= link_to 'mailto:rishid97@gmail.com' do %>
          <%= image_tag 'email.png', width: '70px', class: 'social' %>
        <% end %>
        <%= link_to 'http://twitter.com/rdhanaraj'  do %>
          <%= image_tag 'twitter.png', width: '70px', class: 'social' %>
        <% end %>
        <%= link_to 'http://github.com/rishidhanaraj'  do %>
          <%= image_tag 'github.png', width: '70px', class: 'social' %>
        <% end %>
        <%= link_to 'http://linkedin.com/in/rishidhanaraj'  do %>
          <%= image_tag 'linkedin.png', width: '70px', class: 'social' %>
        <% end %>
        <%= link_to 'http://www.quora.com/Rishi-Dhanaraj'  do %>
          <%= image_tag 'quora.png', width: '70px', class: 'social' %>
        <% end %>
        <%= link_to 'http://www.youtube.com/channel/UCzd1tZnrpJ6sJzILAY1SlnA' do %>
          <%= image_tag 'youtube.png', width: '70px', class: 'social' %>
        <% end %>
      </div>
    </div>
  </div>
</div>  